<%- include('./partials/head.ejs') %>

<div class="grid-container">
<h1>De Allergenen</h1>
    <% categories.forEach(category => { %>
        <a class="article-a" href="/<%= category.titel %>">
            <article> 
                <h2><%= category.titel %></h2>
                <img class="article-img" src="/<%=category.titel%>.png" alt="Allergenen icons">
            </article>
        </a>
    <% }); %>
</div>

<%- include('./partials/footer.ejs') %>